@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
  padding: 0;
  border: 0;
  background-color: #9DC08B;
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 0.4; /* Firefox */
}