.form{
    display: flex;
    flex-direction: column;
    margin: auto; 
    margin-top: 2rem;
    border: 2px solid #6b6b6b;
    border-radius: 4px;
    background-color: #343434;
    max-width: 30rem;
}

.textarea1 {
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    background-color: transparent;
}
.textarea2 {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    background-color: transparent;
}

.btn {
    background-color: transparent;
    font-size: 16px;
    padding: 1rem 0;
    cursor: pointer;
    transition: 150ms;
}

.btn:hover {
    background-color: #4b4b4b;
    transition: 150ms;
}

.notes {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

@media (min-width: 600px) {
    .notes { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 900px) {
    .notes { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .notes { grid-template-columns: repeat(4, 1fr); }
}
  
  